@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

/*HOME PAGE*/
/* styling for headers */

h1 {
    font-size: 50px;
    line-height: 64px;
    color:#222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color:#222;
}

h4 {
    font-size: 20px;
    color:#222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #000;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%
}

/* Navigation bar */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(224, 242, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{ 
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(116, 122, 141);
    transition: 0.3s ease;
}


#navbar li a:hover,
#navbar li button:hover,
#navbar li a.active {
    color: royalblue; 
    cursor: pointer;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: yellow;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background-color: rgb(224, 242, 255);
    position: absolute;
    z-index: 999;
    display: none;
    text-align: center;
    padding-top: 20px;
    border: 10px;
}

ul li a:hover {
    background: rgb(224, 242, 255);
}

ul li:hover ul.dropdown {
    display: block;
}


/* Hero banner */
#hero {
    background-image: url("img/pmss_nest_bg_2.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: royalblue;
}

#hero button {
    background-color: transparent;
    color: royalblue;
    border: 0;
    cursor: pointer; 
    font-weight: 700;
    font-size: 15px;
}

/* boxes around features */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .featureBox{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow:  rgba(0,0,0,0.2);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

/*make box shadow change when hovering */
#feature .featureBox:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.2);
    transition: 0.3s ease;
}

#feature .featureBox img {
    margin-bottom: 10px;
}

/*styling for feature box text */
#feature .featureBox h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(85, 142, 255);
    background-color: rgb(252, 196, 205);
}

#feature .featureBox:nth-child(2) h6 {
    background-color: cornsilk;
}

#feature .featureBox:nth-child(3) h6 {
    background-color: rgb(172, 214, 178);
}

#feature .featureBox:nth-child(4) h6 {
    background-color: rgb(173, 192, 255);
}

/* Featured products text*/
#product1 {
    text-align: center;
}

#product1 .productContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

/*Box around featured product*/
#product1 .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid cornflowerblue;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

/*Featured product image*/
#product1 .product img{
    width: 100%;
    border-radius: 20px;
    background-color: #d7d7d7;
}

/*hover over featured product*/
#product1 .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

#product1 .product .des{
    text-align: start;
    padding: 10px 0;
}

/* Featured product name */
#product1 .product .des h5{
    padding-top: 7px;
    font-size: 14px;   
}

/* featured product stars */
#product1 .product .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

/* Featured product price */
#product1 .product .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: cornflowerblue;
}

/* add to cart button */
#product1 .product h6 {
    width: 90px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgb(215, 240, 166);
    font-weight: 500;
    color: cornflowerblue;
    border: 1px solid yellowgreen;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/*Promotional banner*/
#banner { 
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    text-align: center;
    background-image: url(img/pmss_nest_bg_2.png);
    width: 100%;
    height: 40vh;
    background-position: center;
}

/* Promotional banner text */
#banner h4 {
    color: black;
    font-size: 16px;
}

#banner h2 {
    color: black;
    font-size: 30px;
    padding: 10px;
}

#banner h2 span {
    color: rgb(231, 65, 65)
}

#banner button:hover {
    background-color: rgb(63, 131, 255);
    color: white;
}

/* small banners */
#smbanner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
}

#smbanner .bannerbox {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: flex-start;
    background-image: url(img/pmss_nest_bg_2.png);
    min-width: 580px;
    width: 50vh;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#smbanner .bannerbox2 {
    background-image: url(img/smimg1.jpg);
}


#smbanner .bannerbox1 {
    background-image: url(img/smimg2.jpg);
}

#smbanner .bannerbox3 {
    background-image: url(img/smimg3.jpg);
}

#smbanner h4 {
    color: cornflowerblue;
    font-size: 20px;
    font-weight: 300;
} 

#smbanner h2 {
    color: cornflowerblue;
    font-size: 28px;
    font-weight: 800;
} 

#smbanner span {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
} 

#smbanner .bannerbox:hover button{
    background-color: rgb(63, 131, 255);;
    border: 1px solid rgb(63, 131, 255);;
}

/*text banner under small banner */

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
}

#banner3 .bannerbox{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: flex-start;
    background-image: url(img/pmss_nest_bg_2.png);
    min-width: 30%;
    width: 50vh;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .bannerbox2{
    background-image: url(img/pmss_nest_bg_2.png);
}

#banner3 .bannerbox3{
    background-image: url(img/pmss_nest_bg_2.png);
}

#banner3 h2 {
    color: cornflowerblue;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: black;
    font-weight: 800;
    font-size: 15px;
}

/* Sign up for newsletters */
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: cornflowerblue;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: wheat;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .email {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: teal;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer h4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 10px;
}


footer .logo {
    margin-bottom: 10px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

/*SHOP PAGE*/
#page-header{
    background-image: url("img/pmss_nest_bg_2.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

/*page navigator*/
#pagination {
    text-align: center;

}

#pagination a{
    text-decoration: none;
    background-color: teal;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/*SINGLE PRODUCT PAGE*/

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}


#prodetails .single-pro-details button{
    background-color: teal;
    color: white;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

/* ABOUT US PAGE */

#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

/*CART PAGE*/
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4), 
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid rgb(206, 183, 92);
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    text-align: right;
}

#cart-add button{
    background-color: teal;
    color: white;
}
/* Start Media Query */

@media (max-width: 799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 200px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #222;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
        
    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }

    #feature {
        justify-content: center;
    }

    #feature .featureBox {
        margin: 15px 15px;
    }

    #product1 .productContainer {
        justify-content: center;
    }

    #product1 .product{
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #smbanner .bannerbox {
        min-width: 100%;
        height: 30vh;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .bannerbox {
        width: 20%;
    }
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px
    }
    h2{
        font-size: 32px;
    }
    h1 {
        font-size: 38px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .featureBox {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .product {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #smbanner .bannerbox {
        height: 40vh;
    }

    #smbanner .bannerbox2 {
        margin-top: 20px;
    }
    #banner3 .bannerbox{
        width: 100%;
    }
 
    /*single product */

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /*about page */

    #about-head {
        flex-direction: column;
    }

    #about-head img{
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }


}







